.clients-logo-link-svg-1 {
  width: 44px;
  height: 49px;
  fill: $fill;
}

.clients-logo-link-svg-2 {
  width: 40px;
  height: 52px;
  fill: $fill;
}
.clients-logo-link-svg-3 {
  width: 41px;
  height: 42px;
  fill: $fill;
}
.clients-logo-link-svg-4 {
  width: 80px;
  /* height: 42px; */
  fill: $fill;
}
.clients-logo-link-svg-5 {
  width: 59px;
  height: 47px;
  fill: $fill;
}
.clients-logo-link-svg-6 {
  width: 88px;
  /* height: 45px; */
  fill: $fill;
}
