.body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.social__item {
  margin-right: 10px;
}

.social__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color;
  transition: background-color;
}

.social__item-link-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill;
  transition: fill;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 26px 10px 29px;
  margin-top: 20px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  font-size: 16px;
  outline: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: #2196f3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 81px;
}

.menu .menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color;
  transition: color;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: -webkit-fill-available;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.menu__link-current {
  color: #2196f3;
}

.menu__link-current.menu__link::after {
  opacity: 1;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 10px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color;
  transition: color;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__svg {
  width: 16px;
  height: 15px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill;
  transition: fill;
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.logo__accent {
  color: #2196f3;
}

.footer__address {
  padding-top: 20px;
}

.footer__address-street {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.footer__address-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.footer__social {
  display: block;
  padding-top: 20px;
}

.footer__social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer__social .social__item-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color;
  transition: background-color;
}

.social__item-link:hover,
.social__item-link:focus {
  background-color: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social .social__item-link-svg {
  fill: var(--primary-bg-color);
}
/*# sourceMappingURL=main.css.map */