.field {
  display: flex;
  align-items: center;
  // justify-items: left;
}

.form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 7px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-policy-svg {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin: 0;
  margin-right: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .checkbox-policy-svg {
  background-color: $accent-color;
  background-image: url(../../../images/web-studio/icons/galochka.svg);
  background-size: cover;
  background-origin: border-box;
  border-color: $accent-color;
}

.checkbox-policy-label {
  display: inline-block;
  text-align: left;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.85;

  letter-spacing: 0.03em;
  // text-align: left;
}
