.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-items {
  display: flex;
  & img {
    display: block;
  }
  & .about-item-box + .about-item-box {
    margin-left: 30px;
  }
}

.about-item-box {
  position: relative;
  display: flex;
}
