.footer-form-label {
  display: flex;
  margin-top: 20px;
  & input {
    width: 358px;
    height: 50px;

    background: $footer-bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  & input::placeholder {
    padding-left: 16px;
  }
}

.footer-form-svg {
  width: 24px;
  height: 24px;
  padding-left: 10px;
  fill: $primary-bg-color;
}

.footer-form .button {
  margin: 0;
  margin-left: 12px;
}

.footer-form-input:hover,
.footer-form-input:focus {
  border: 1px solid $accent-color;
}

.input::placeholder:hover,
.input::placeholder:focus {
  color: $accent-color;
}
